@import 'mixin';
@import 'variable';

body {
  overflow-x: hidden;
}

.container {
  background-image: url('../images/bg-tablet-pattern.svg'), url('../images/bg-tablet-pattern.svg');
  background-repeat: no-repeat, no-repeat;
  background-position-x: 107%, -43%;
  background-position-y: -12em, 69em;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3em 3em 0em 3em;
  overflow: hidden;

  &__logo {
    margin-top: 0.7em;
  }

  &__link {
    margin: 0em 1em;
    color: $VDBlue;
    font-weight: 500;

    &:hover {
      color: $DGBlue;
      transition: .5s;
    }

    &--btn {
      @include btn;
    }
  }


  .icon {
    color: $DBlue;
    font-size: 3em;
    display: none;
    cursor: pointer;
  }
}

.header {
  &__main {
    display: flex;
    justify-content: space-between;
    height: 71vh;
    padding: 6em 0em;
  }

  &__text {
    max-width: 35em;
  }

  &__title {
    font-weight: 700;
    font-size: 3.8em;
    line-height: 1.2;
    margin: 1em 0em .6em 0em;
    color: $DBlue;
  }

  &__parag {
    @include parag;
    margin-bottom: 2.8em;

  }

  &__btn {
    &--center {
      margin-left: 46%;
      margin-top: 3em
    }

    &--color {
      background-color: $VGray;
      color: $BRed;
    }
  }

  &__img {
    height: 32em;
  }
}



@media (max-width: 1440px) {
  * {
    font-size: .9rem;
  }

  .header {
    &__main {

      justify-content: space-around;
      padding: 4em 0em;
      height: 55vh;
    }
  }


  .main {

    justify-content: space-around !important;
  }
}

@media (max-width: 1100px) {
  * {
    font-size: .8rem;
  }
}


@media (max-width: 840px) {
  .navbar {
    justify-content: space-between;
    margin: 0em 2em;

    .icon {
      display: block;
    }

    &__main {
      display: none;
    }

    &__link {
      &--btn {
        display: none;
      }
    }
  }

  .header {
    &__btn {
      display: inline-block;
    }
  }

  .respNav {

    @include respoNbar (45%, 30%, 9%, 53%);

    a {
      font-size: 2.5em;
    }
  }



}

@media (max-width: 770px) {

  * {
    font-size: .92rem;
  }

  .footer {
    &__header {
      text-align: center;
    }
  }

  .header {
    &__main {
      display: flex;
      flex-wrap: wrap-reverse;
      margin-top: 30em;
    }

    &__text {
      text-align: center;
    }
  }

  .respNav {

    @include respoNbar (50%, 40%, 10%, 46%);
  }

  .footer {
    &__icon {
      img {
        height: 1.7em;
        margin-left: -11.5em !important;
      }
    }

    &__parent {
      justify-content: space-around !important;
      flex-wrap: wrap-reverse;
      padding: 4em 2em 0em 2em !important;

      &--div4 {
        width: 100%;
        align-items: center !important;

        input:nth-child(1) {
          padding: 0.7em 4em !important;
          border-radius: 50px;
        }
      }

      &--div2 {
        margin-bottom: 3em;
      }

      &--div1 {
        flex-direction: column-reverse !important;
        width: 47em;
        text-align: center;
        margin-left: 40%;

        .logo {
          width: 20em;
        }
      }
    }
  }


}

@media (max-width: 520px) {
  * {
    font-size: .82rem;
  }

  .header {
    &__main {
      margin-top: 21em;
    }
  }

  .respNav {
    @include respoNbar (90%, 40%, 10%, 5%);
  }
}

@media (max-width: 380px) {
  .header {
    &__main {
      margin-top: 16em;
    }
  }

  .respNav {
    @include respoNbar (94%, 31%, 10%, 3%);
  }
}