@mixin bgPosition ($fontSize, $bgPosX, $bgPosY) {
  * {
    font-size: $fontSize;
  }

  .container {
    background-position-x: $bgPosX;
    background-position-y: $bgPosY;

  }
}

@mixin respoNbar ($Rwidth, $Rheight, $Rtop, $Rleft) {
  position: fixed;
  width: $Rwidth;
  height: $Rheight;
  border-radius: 20px;
  background: #fafafa;
  top: $Rtop;
  left: $Rleft;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 1em 0em;
  line-height: 2;
}

@mixin btn {
  background-color: $BRed;
  color: $VGray;
  padding: .7em 2em;
  border: 1px solid transparent;
  border-radius: 30px;
  cursor: pointer;

  &:hover {
    background-color: $VGray;
    color: $DGBlue;
    transition: .5s;
  }
}

@mixin parag {
  color: $DGBlue;
  line-height: 1.5;
}